<!--
<form mthod="get" action="/quizes/answer">
    Pregunta: <%= pregunta %> <p>
    <input type=text" name="respuesta" PlaceHolder="Responda aqui">
    <input type="submit" value="Enviar">
</form>
-->
